# Civil 774 - Smart Infrastructure Analytics

## Pandas exercise


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Load the `nz_cars.csv` data in the Data folder, use `OBJECTID` as index

In [247]:
df = pd.read_csv('NZ_cars.csv', index_col = ["OBJECTID"])
print(df)

         BASIC_COLOUR      BODY_TYPE  CC_RATING  FIRST_NZ_REGISTRATION_YEAR  \
OBJECTID
3001            WHITE         SALOON       1971                        1979
3002             GOLD      HATCHBACK       1769                        2005
3003              RED         SALOON       5665                        2005
3004             BLUE      HATCHBACK       1796                        2003
3005           SILVER      HATCHBACK       1796                        2003
...               ...            ...        ...                         ...
3996           SILVER         SALOON       3828                        2007
3997           YELLOW         SALOON        995                        1982
3998             BLUE         SALOON       2000                        1991
3999            BLACK  STATION WAGON       2261                        2007
4000           SILVER  STATION WAGON       1990                        2005

          FIRST_NZ_REGISTRATION_MONTH  GROSS_VEHICLE_MASS IMPORT_STATUS  \
OBJECTID
3001                                5                   0           NEW
3002                                5                1245           NEW
3003                                9                2129           NEW
3004                               10                1690           NEW
3005                                6                1640           NEW
...                               ...                 ...           ...
3996                                3                   0           NEW
3997                                6                   0           NEW
3998                                7                   0           NEW
3999                                6                1862           NEW
4000                               12                1645          USED

         INDUSTRY_CLASS        MAKE      MODEL  ...       NZ_ASSEMBLED  \
OBJECTID                                        ...
3001            PRIVATE     PEUGEOT        504  ...            UNKNOWN
3002            PRIVATE      NISSAN     PULSAR  ...  IMPORTED BUILT-UP
3003            PRIVATE      HOLDEN  COMMODORE  ...  IMPORTED BUILT-UP
3004            PRIVATE      HOLDEN      ASTRA  ...  IMPORTED BUILT-UP
3005            PRIVATE      HOLDEN      ASTRA  ...  IMPORTED BUILT-UP
...                 ...         ...        ...  ...                ...
3996            PRIVATE  MITSUBISHI        380  ...  IMPORTED BUILT-UP
3997            PRIVATE     LEYLAND       MINI  ...            UNKNOWN
3998            PRIVATE        FORD    TELSTAR  ...            UNKNOWN
3999            PRIVATE       MAZDA     MAZDA6  ...  IMPORTED BUILT-UP
4000            PRIVATE       MAZDA     ATENZA  ...  IMPORTED BUILT-UP

          ORIGINAL_COUNTRY  POWER_RATING PREVIOUS_COUNTRY  \
OBJECTID
3001             NOT KNOWN             0             NONE
3002        UNITED KINGDOM            92             NONE
3003             AUSTRALIA           245             NONE
3004               GERMANY            85             NONE
3005               GERMANY            85             NONE
...                    ...           ...              ...
3996             AUSTRALIA           175             NONE
3997             NOT KNOWN             0             NONE
3998                 JAPAN             0             NONE
3999                 JAPAN           122             NONE
4000                 JAPAN             0            JAPAN

                      SUBMODEL                    TLA TRANSMISSION_TYPE  \
OBJECTID
3001                       NaN               AUCKLAND               NaN
3002            1.8 HATCH AUTO               AUCKLAND       5-GEAR AUTO
3003                 S V8 AUTO               AUCKLAND       4-GEAR AUTO
3004        CD HATCH 1.8L AUTO               AUCKLAND       4-GEAR AUTO
3005       CITY HATCH 1.8L MAN               AUCKLAND     5-GEAR MANUAL
...                        ...                    ...               ...
3996              3.8P SEDAN A     WHANGAREI DISTRICT       5-GEAR AUTO
3997                       NaN       WAIKATO DISTRICT               NaN
3998                       NaN     WHAKATANE DISTRICT               NaN
3999      WAGON GSX 2.3 5 AUTO  NEW PLYMOUTH DISTRICT       5-GEAR AUTO
4000                       NaN               AUCKLAND               NaN

               VEHICLE_TYPE      VEHICLE_USAGE VEHICLE_YEAR
OBJECTID
3001      PASSENGER CAR/VAN  PRIVATE PASSENGER         1979
3002      PASSENGER CAR/VAN  PRIVATE PASSENGER         2005
3003      PASSENGER CAR/VAN  PRIVATE PASSENGER         2005
3004      PASSENGER CAR/VAN  PRIVATE PASSENGER         2003
3005      PASSENGER CAR/VAN  PRIVATE PASSENGER         2003
...                     ...                ...          ...
3996      PASSENGER CAR/VAN  PRIVATE PASSENGER         2007
3997      PASSENGER CAR/VAN  PRIVATE PASSENGER         1982
3998      PASSENGER CAR/VAN  PRIVATE PASSENGER         1991
3999      PASSENGER CAR/VAN  PRIVATE PASSENGER         2007
4000      PASSENGER CAR/VAN  PRIVATE PASSENGER         2002

[1000 rows x 23 columns]

### Step 3. See the first 5 entries

In [248]:
df.head()

,BASIC_COLOUR,BODY_TYPE,CC_RATING,FIRST_NZ_REGISTRATION_YEAR,FIRST_NZ_REGISTRATION_MONTH,GROSS_VEHICLE_MASS,IMPORT_STATUS,INDUSTRY_CLASS,MAKE,MODEL,...,NZ_ASSEMBLED,ORIGINAL_COUNTRY,POWER_RATING,PREVIOUS_COUNTRY,SUBMODEL,TLA,TRANSMISSION_TYPE,VEHICLE_TYPE,VEHICLE_USAGE,VEHICLE_YEAR
OBJECTID,,,,,,,,,,,,,,,,,,,,,
3001,WHITE,SALOON,1971,1979,5,0,NEW,PRIVATE,PEUGEOT,504,...,UNKNOWN,NOT KNOWN,0,NONE,NaN,AUCKLAND,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1979
3002,GOLD,HATCHBACK,1769,2005,5,1245,NEW,PRIVATE,NISSAN,PULSAR,...,IMPORTED BUILT-UP,UNITED KINGDOM,92,NONE,1.8 HATCH AUTO,AUCKLAND,5-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2005
3003,RED,SALOON,5665,2005,9,2129,NEW,PRIVATE,HOLDEN,COMMODORE,...,IMPORTED BUILT-UP,AUSTRALIA,245,NONE,S V8 AUTO,AUCKLAND,4-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2005
3004,BLUE,HATCHBACK,1796,2003,10,1690,NEW,PRIVATE,HOLDEN,ASTRA,...,IMPORTED BUILT-UP,GERMANY,85,NONE,CD HATCH 1.8L AUTO,AUCKLAND,4-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2003
3005,SILVER,HATCHBACK,1796,2003,6,1640,NEW,PRIVATE,HOLDEN,ASTRA,...,IMPORTED BUILT-UP,GERMANY,85,NONE,CITY HATCH 1.8L MAN,AUCKLAND,5-GEAR MANUAL,PASSENGER CAR/VAN,PRIVATE PASSENGER,2003

### Step 4. See the first 25 entries

In [249]:
df.head(25)

,BASIC_COLOUR,BODY_TYPE,CC_RATING,FIRST_NZ_REGISTRATION_YEAR,FIRST_NZ_REGISTRATION_MONTH,GROSS_VEHICLE_MASS,IMPORT_STATUS,INDUSTRY_CLASS,MAKE,MODEL,...,NZ_ASSEMBLED,ORIGINAL_COUNTRY,POWER_RATING,PREVIOUS_COUNTRY,SUBMODEL,TLA,TRANSMISSION_TYPE,VEHICLE_TYPE,VEHICLE_USAGE,VEHICLE_YEAR
OBJECTID,,,,,,,,,,,,,,,,,,,,,
3001,WHITE,SALOON,1971,1979,5,0,NEW,PRIVATE,PEUGEOT,504,...,UNKNOWN,NOT KNOWN,0,NONE,NaN,AUCKLAND,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1979
3002,GOLD,HATCHBACK,1769,2005,5,1245,NEW,PRIVATE,NISSAN,PULSAR,...,IMPORTED BUILT-UP,UNITED KINGDOM,92,NONE,1.8 HATCH AUTO,AUCKLAND,5-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2005
3003,RED,SALOON,5665,2005,9,2129,NEW,PRIVATE,HOLDEN,COMMODORE,...,IMPORTED BUILT-UP,AUSTRALIA,245,NONE,S V8 AUTO,AUCKLAND,4-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2005
3004,BLUE,HATCHBACK,1796,2003,10,1690,NEW,PRIVATE,HOLDEN,ASTRA,...,IMPORTED BUILT-UP,GERMANY,85,NONE,CD HATCH 1.8L AUTO,AUCKLAND,4-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2003
3005,SILVER,HATCHBACK,1796,2003,6,1640,NEW,PRIVATE,HOLDEN,ASTRA,...,IMPORTED BUILT-UP,GERMANY,85,NONE,CITY HATCH 1.8L MAN,AUCKLAND,5-GEAR MANUAL,PASSENGER CAR/VAN,PRIVATE PASSENGER,2003
3006,BLUE,SALOON,1796,2003,7,1690,NEW,PRIVATE,HOLDEN,ASTRA,...,IMPORTED BUILT-UP,GERMANY,85,NONE,CITY SEDAN 1.8L MAN,WHANGANUI DISTRICT,5-GEAR MANUAL,PASSENGER CAR/VAN,PRIVATE PASSENGER,2003
3007,SILVER,SALOON,2946,2005,7,0,NEW,PRIVATE,PEUGEOT,407,...,IMPORTED BUILT-UP,FRANCE,155,NONE,V6 3.0 5DR 6SP A P,NAPIER CITY,6-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2005
3008,BLACK,STATION WAGON,1968,2012,4,2185,NEW,PRIVATE,AUDI,Q3,...,IMPORTED BUILT-UP,GERMANY,130,NONE,2.0 TDI Q S TRONIC,AUCKLAND,7-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2012
3009,SILVER,SALOON,1800,1990,5,0,NEW,UNKNOWN,SUBARU,LEGACY,...,UNKNOWN,JAPAN,0,NONE,DL 1.8,WHANGAREI DISTRICT,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1990
3010,GOLD,SALOON,1725,1973,5,0,NEW,PRIVATE,SUNBEAM,SCEPTRE,...,UNKNOWN,NOT KNOWN,0,NONE,NaN,HURUNUI DISTRICT,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1973
3011,GOLD,MOTORCYCLE,996,2009,1,0,USED,PRIVATE,HONDA,XL,...,IMPORTED BUILT-UP,JAPAN,0,AUSTRALIA,1000V,NAPIER CITY,NaN,MOTORCYCLE,PRIVATE PASSENGER,1998
3012,SILVER,SALOON,3498,2006,4,0,NEW,PRIVATE,NISSAN,MAXIMA,...,IMPORTED BUILT-UP,JAPAN,170,NONE,3.5 PETROL ST,KAPITI COAST DISTRICT,6-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2006
3013,RED,HATCHBACK,1997,2010,1,1921,NEW,PRIVATE,PEUGEOT,308,...,IMPORTED BUILT-UP,FRANCE,100,NONE,HDI AUTO,PORIRUA CITY,6-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2010
3014,SILVER,STATION WAGON,1990,2009,11,1815,USED,PRIVATE,PEUGEOT,307,...,IMPORTED BUILT-UP,FRANCE,0,JAPAN,SW,AUCKLAND,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,2003
3015,SILVER,HATCHBACK,1769,2005,3,1235,NEW,PRIVATE,NISSAN,PULSAR,...,IMPORTED BUILT-UP,UNITED KINGDOM,92,NONE,1.8 LS HATCH MAN,WESTERN BAY OF PLENTY DISTRICT,5-GEAR MANUAL,PASSENGER CAR/VAN,PRIVATE PASSENGER,2005
3016,SILVER,STATION WAGON,2362,2009,12,1875,USED,PRIVATE,TOYOTA,IPSUM,...,IMPORTED BUILT-UP,JAPAN,0,JAPAN,240S,WELLINGTON CITY,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,2002
3017,GREY,SALOON,3498,2006,3,0,NEW,PRIVATE,NISSAN,MAXIMA,...,IMPORTED BUILT-UP,JAPAN,170,NONE,3.5 PETROL TI LTHR,NAPIER CITY,6-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2006
3018,SILVER,HATCHBACK,1330,2007,10,1275,USED,PRIVATE,HONDA,FIT,...,IMPORTED BUILT-UP,JAPAN,0,JAPAN,NaN,DUNEDIN CITY,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,2003
3019,SILVER,SALOON,3497,2006,3,2095,NEW,PRIVATE,MITSUBISHI,DIAMANTE,...,IMPORTED BUILT-UP,AUSTRALIA,163,NONE,3.5P VR-X SEDAN A,TAURANGA CITY,5-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2006
3020,RED,HATCHBACK,1295,1989,8,0,NEW,PRIVATE,TOYOTA,STARLET,...,UNKNOWN,JAPAN,0,NONE,1.3XL,WELLINGTON CITY,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1989
3021,SILVER,LIGHT VAN,3378,2005,7,2390,USED,PRIVATE,TOYOTA,LANDCRUISER,...,IMPORTED BUILT-UP,JAPAN,0,JAPAN,PRADO TX,AUCKLAND,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,2002
3022,SILVER,STATION WAGON,2488,2005,9,2913,NEW,PRIVATE,NISSAN,PATHFINDER,...,IMPORTED BUILT-UP,SPAIN,128,NONE,2.5 4WD ST AUTO,WHANGAREI DISTRICT,5-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2005
3023,WHITE,STATION WAGON,3954,2007,8,3000,NEW,PRIVATE,NISSAN,PATHFINDER,...,IMPORTED BUILT-UP,SPAIN,198,NONE,4.0 4WD TI AUTO,WHANGAREI DISTRICT,5-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2007
3024,RED,SALOON,2000,1989,4,0,NEW,UNKNOWN,HONDA,PRELUDE,...,UNKNOWN,JAPAN,0,NONE,4WS,PALMERSTON NORTH CITY,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1989
3025,GREY,FLAT-DECK TRAILER,0,2004,10,3000,NEW,PRIVATE,TRAILER,HOMEMADE,...,NZ ASSEMBLED/BUILT,NEW ZEALAND,0,NONE,NaN,HAMILTON CITY,NaN,TRAILER/CARAVAN,OTHER GOODS,2004

### Step 5. See the last 10 entries

In [250]:
df.tail(10)

,BASIC_COLOUR,BODY_TYPE,CC_RATING,FIRST_NZ_REGISTRATION_YEAR,FIRST_NZ_REGISTRATION_MONTH,GROSS_VEHICLE_MASS,IMPORT_STATUS,INDUSTRY_CLASS,MAKE,MODEL,...,NZ_ASSEMBLED,ORIGINAL_COUNTRY,POWER_RATING,PREVIOUS_COUNTRY,SUBMODEL,TLA,TRANSMISSION_TYPE,VEHICLE_TYPE,VEHICLE_USAGE,VEHICLE_YEAR
OBJECTID,,,,,,,,,,,,,,,,,,,,,
3991,BLUE,HATCHBACK,1598,1991,7,0,NEW,PRIVATE,MAZDA,ASTINA,...,UNKNOWN,JAPAN,0,NONE,323 GLX,SELWYN DISTRICT,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1991
3992,SILVER,STATION WAGON,2261,2007,7,1862,NEW,PRIVATE,MAZDA,MAZDA6,...,IMPORTED BUILT-UP,JAPAN,122,NONE,WAGON GSX 2.3 5 AUTO,UPPER HUTT CITY,5-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2007
3993,BLUE,HATCHBACK,1339,2006,5,1490,NEW,PRIVATE,HONDA,JAZZ,...,IMPORTED BUILT-UP,JAPAN,61,NONE,1.3I 5D CVT HATCH,AUCKLAND,CONTINUOUSLY VARIABLE,PASSENGER CAR/VAN,PRIVATE PASSENGER,2006
3994,SILVER,STATION WAGON,1490,2006,2,1335,USED,PRIVATE,SUZUKI,CULTUS,...,IMPORTED BUILT-UP,JAPAN,0,JAPAN,NaN,DUNEDIN CITY,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,2002
3995,GREY,STATION WAGON,1896,2009,2,0,NEW,PRIVATE,SKODA,FABIA,...,IMPORTED BUILT-UP,CZECH REPUBLIC,77,NONE,1.9 TDI COMBI,AUCKLAND,5-GEAR MANUAL,PASSENGER CAR/VAN,PRIVATE PASSENGER,2009
3996,SILVER,SALOON,3828,2007,3,0,NEW,PRIVATE,MITSUBISHI,380,...,IMPORTED BUILT-UP,AUSTRALIA,175,NONE,3.8P SEDAN A,WHANGAREI DISTRICT,5-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2007
3997,YELLOW,SALOON,995,1982,6,0,NEW,PRIVATE,LEYLAND,MINI,...,UNKNOWN,NOT KNOWN,0,NONE,NaN,WAIKATO DISTRICT,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1982
3998,BLUE,SALOON,2000,1991,7,0,NEW,PRIVATE,FORD,TELSTAR,...,UNKNOWN,JAPAN,0,NONE,NaN,WHAKATANE DISTRICT,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1991
3999,BLACK,STATION WAGON,2261,2007,6,1862,NEW,PRIVATE,MAZDA,MAZDA6,...,IMPORTED BUILT-UP,JAPAN,122,NONE,WAGON GSX 2.3 5 AUTO,NEW PLYMOUTH DISTRICT,5-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2007
4000,SILVER,STATION WAGON,1990,2005,12,1645,USED,PRIVATE,MAZDA,ATENZA,...,IMPORTED BUILT-UP,JAPAN,0,JAPAN,NaN,AUCKLAND,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,2002

### Step 6. What is the number of observations in the dataset?

In [251]:
len(df.index)

1000

### Step 7. What is the number of columns in the dataset?

In [252]:
len(df.columns)

23

### Step 8. Print the name of all the columns.

In [253]:
print(df.columns)

Index(['BASIC_COLOUR', 'BODY_TYPE', 'CC_RATING', 'FIRST_NZ_REGISTRATION_YEAR',
       'FIRST_NZ_REGISTRATION_MONTH', 'GROSS_VEHICLE_MASS', 'IMPORT_STATUS',
       'INDUSTRY_CLASS', 'MAKE', 'MODEL', 'MOTIVE_POWER', 'NUMBER_OF_AXLES',
       'NUMBER_OF_SEATS', 'NZ_ASSEMBLED', 'ORIGINAL_COUNTRY', 'POWER_RATING',
       'PREVIOUS_COUNTRY', 'SUBMODEL', 'TLA', 'TRANSMISSION_TYPE',
       'VEHICLE_TYPE', 'VEHICLE_USAGE', 'VEHICLE_YEAR'],
      dtype='object')

### Step 9. What is the data type of each column?

In [254]:
df.dtypes

BASIC_COLOUR                   object
BODY_TYPE                      object
CC_RATING                       int64
FIRST_NZ_REGISTRATION_YEAR      int64
FIRST_NZ_REGISTRATION_MONTH     int64
GROSS_VEHICLE_MASS              int64
IMPORT_STATUS                  object
INDUSTRY_CLASS                 object
MAKE                           object
MODEL                          object
MOTIVE_POWER                   object
NUMBER_OF_AXLES                 int64
NUMBER_OF_SEATS                 int64
NZ_ASSEMBLED                   object
ORIGINAL_COUNTRY               object
POWER_RATING                    int64
PREVIOUS_COUNTRY               object
SUBMODEL                       object
TLA                            object
TRANSMISSION_TYPE              object
VEHICLE_TYPE                   object
VEHICLE_USAGE                  object
VEHICLE_YEAR                    int64
dtype: object

### Step 10. Print only the MAKE column

In [255]:
print(df["MAKE"])

OBJECTID
3001       PEUGEOT
3002        NISSAN
3003        HOLDEN
3004        HOLDEN
3005        HOLDEN
           ...
3996    MITSUBISHI
3997       LEYLAND
3998          FORD
3999         MAZDA
4000         MAZDA
Name: MAKE, Length: 1000, dtype: object

### Step 11. How many different car makes are in this dataset?

In [256]:
df.MAKE.nunique()

70

### Step 12. What is the most frequent make of the cars?

In [257]:
make_count = df.MAKE.value_counts()
print(make_count)

highest_make = make_count.index[0]
print('\nMost frequent make of cars is', highest_make)

TOYOTA       158
MAZDA        140
NISSAN       105
FORD          87
HONDA         83
            ...
CARAVAN        1
REID           1
MOPED          1
PIAGGIO        1
SSANGYONG      1
Name: MAKE, Length: 70, dtype: int64

Most frequent make of cars is TOYOTA

### Step 13. Summarise the DataFrame.

In [258]:
df.describe()

,CC_RATING,FIRST_NZ_REGISTRATION_YEAR,FIRST_NZ_REGISTRATION_MONTH,GROSS_VEHICLE_MASS,NUMBER_OF_AXLES,NUMBER_OF_SEATS,POWER_RATING,VEHICLE_YEAR
count,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.00000,1000.00000,1000.000000
mean,2162.729000,2002.12700,6.437000,1757.147000,1.006000,4.46400,48.27500,1999.463000
std,1342.608973,8.61261,3.299533,2405.467315,1.010438,3.85533,73.62195,9.453359
min,0.000000,1947.00000,1.000000,0.000000,0.000000,0.00000,0.00000,1930.000000
25%,1495.250000,2004.00000,4.000000,923.750000,0.000000,4.00000,0.00000,1996.000000
50%,1998.000000,2005.00000,7.000000,1665.000000,1.000000,5.00000,0.00000,2003.000000
75%,2499.250000,2007.00000,9.000000,2100.000000,2.000000,5.00000,103.00000,2006.000000
max,11045.000000,2012.00000,12.000000,29000.000000,4.000000,64.00000,999.00000,2012.000000

### Step 14. Summarise only the MAKE column

In [259]:
df.MAKE.describe()

count       1000
unique        70
top       TOYOTA
freq         158
Name: MAKE, dtype: object

### Step 15. What is the mean CC_RATING of cars?

In [260]:
df['CC_RATING'].mean()

2162.729

### Step 16. What is the CC_RATING with least occurrence?

In [261]:
cc_rating_count = df.CC_RATING.value_counts()
lowest_freq_CC = cc_rating_count.index[-1]
print('\nCC_RATING with least occurence is', lowest_freq_CC)

CC_RATING with least occurence is 5100

## Step 17. Sort the cars ascending by CC_RATING, then FIRST_NZ_REGISTRATION_YEAR

In [262]:
df.sort_values("CC_RATING", axis = 0, ascending = True, inplace = True, na_position = 'last')
df.sort_values("FIRST_NZ_REGISTRATION_YEAR", axis = 0, ascending = True, inplace = True, na_position = 'last')
print(df)

         BASIC_COLOUR      BODY_TYPE  CC_RATING  FIRST_NZ_REGISTRATION_YEAR  \
OBJECTID
3526              RED     SPORTS CAR       1600                        1947
3648            WHITE         SALOON       1192                        1962
3758            GREEN         SALOON       1285                        1966
3442             BLUE         SALOON       3284                        1967
3884            WHITE         SALOON       2553                        1970
...               ...            ...        ...                         ...
3874            BLACK         SALOON       1796                        2012
3445           SILVER  STATION WAGON       1794                        2012
3349             BLUE      HATCHBACK       2260                        2012
3008            BLACK  STATION WAGON       1968                        2012
3610           SILVER  STATION WAGON       1490                        2012

          FIRST_NZ_REGISTRATION_MONTH  GROSS_VEHICLE_MASS IMPORT_STATUS  \
OBJECTID
3526                               11                   0           NEW
3648                                6                   0           NEW
3758                                8                   0        RE-REG
3442                                6                   0           NEW
3884                               12                   0           NEW
...                               ...                 ...           ...
3874                                2                2185           NEW
3445                                4                1425          USED
3349                                7                1555          USED
3008                                4                2185           NEW
3610                                3                1515          USED

         INDUSTRY_CLASS           MAKE    MODEL  ...        NZ_ASSEMBLED  \
OBJECTID                                         ...
3526            UNKNOWN          ROVER       16  ...             UNKNOWN
3648            PRIVATE     VOLKSWAGEN      NaN  ...             UNKNOWN
3758            PRIVATE     VOLKSWAGEN     1300  ...  NZ ASSEMBLED/BUILT
3442            PRIVATE           FORD        A  ...             UNKNOWN
3884            PRIVATE           FORD   ZODIAC  ...             UNKNOWN
...                 ...            ...      ...  ...                 ...
3874            PRIVATE  MERCEDES-BENZ        E  ...   IMPORTED BUILT-UP
3445            PRIVATE         TOYOTA  COROLLA  ...   IMPORTED BUILT-UP
3349            PRIVATE          MAZDA    AXELA  ...   IMPORTED BUILT-UP
3008            PRIVATE           AUDI       Q3  ...   IMPORTED BUILT-UP
3610            PRIVATE          MAZDA    AXELA  ...   IMPORTED BUILT-UP

          ORIGINAL_COUNTRY  POWER_RATING PREVIOUS_COUNTRY            SUBMODEL  \
OBJECTID
3526             NOT KNOWN             0             NONE                 NaN
3648             NOT KNOWN             0             NONE                 NaN
3758           NEW ZEALAND             0             NONE                 NaN
3442             NOT KNOWN             0             NONE                 NaN
3884             NOT KNOWN             0             NONE                 NaN
...                    ...           ...              ...                 ...
3874               GERMANY           150             NONE  250 CGI AVANTGARDE
3445                 JAPAN             0            JAPAN           FIELDER S
3349                 JAPAN             0            JAPAN                 NaN
3008               GERMANY           130             NONE  2.0 TDI Q S TRONIC
3610                 JAPAN             0            JAPAN                 NaN

                         TLA TRANSMISSION_TYPE       VEHICLE_TYPE  \
OBJECTID
3526             NELSON CITY               NaN  PASSENGER CAR/VAN
3648          WAIPA DISTRICT               NaN  PASSENGER CAR/VAN
3758                AUCKLAND               NaN  PASSENGER CAR/VAN
3442       HASTINGS DISTRICT               NaN  PASSENGER CAR/VAN
3884       HASTINGS DISTRICT               NaN  PASSENGER CAR/VAN
...                      ...               ...                ...
3874      WHANGAREI DISTRICT       7-GEAR AUTO  PASSENGER CAR/VAN
3445                AUCKLAND               NaN  PASSENGER CAR/VAN
3349                AUCKLAND               NaN  PASSENGER CAR/VAN
3008                AUCKLAND       7-GEAR AUTO  PASSENGER CAR/VAN
3610                AUCKLAND               NaN  PASSENGER CAR/VAN

              VEHICLE_USAGE VEHICLE_YEAR
OBJECTID
3526      PRIVATE PASSENGER         1947
3648      PRIVATE PASSENGER         1962
3758      PRIVATE PASSENGER         1966
3442      PRIVATE PASSENGER         1932
3884      PRIVATE PASSENGER         1965
...                     ...          ...
3874      PRIVATE PASSENGER         2012
3445      PRIVATE PASSENGER         2006
3349      PRIVATE PASSENGER         2005
3008      PRIVATE PASSENGER         2012
3610      PRIVATE PASSENGER         2006

[1000 rows x 23 columns]

## Step 18. Filter cars with CC_RATING more than 3000 only

In [263]:
cc_rating_3000 = df[df["CC_RATING"] > 3000]
print(cc_rating_3000)

         BASIC_COLOUR               BODY_TYPE  CC_RATING  \
OBJECTID
3442             BLUE                  SALOON       3284
3271            BROWN                  SALOON       3900
3156            WHITE  SELF PROPELLED CARAVAN       4927
3098              RED                 UTILITY       4343
3060           YELLOW                 UTILITY       4230
...               ...                     ...        ...
3579            BLACK             CONVERTIBLE       3999
3828            BLACK           STATION WAGON       3597
3594             BLUE           STATION WAGON       3600
3571            WHITE  SELF PROPELLED CARAVAN       5193
3612           SILVER                 UTILITY       3199

          FIRST_NZ_REGISTRATION_YEAR  FIRST_NZ_REGISTRATION_MONTH  \
OBJECTID
3442                            1967                            6
3271                            1972                           11
3156                            1977                            6
3098                            1977                            9
3060                            1977                           10
...                              ...                          ...
3579                            2009                            6
3828                            2009                            1
3594                            2009                            1
3571                            2010                            1
3612                            2012                            6

          GROSS_VEHICLE_MASS IMPORT_STATUS INDUSTRY_CLASS        MAKE  \
OBJECTID
3442                       0           NEW        PRIVATE        FORD
3271                       0           NEW        PRIVATE        FORD
3156                    6909           NEW        PRIVATE     BEDFORD
3098                    1999           NEW        UNKNOWN    CHRYSLER
3060                    1999           NEW        PRIVATE      TOYOTA
...                      ...           ...            ...         ...
3579                    2280           NEW        PRIVATE         BMW
3828                    2255           NEW        PRIVATE  VOLKSWAGEN
3594                       0           NEW        PRIVATE      SUBARU
3571                    7450           NEW        PRIVATE       ISUZU
3612                    3200           NEW        PRIVATE        FORD

                 MODEL  ...        NZ_ASSEMBLED  ORIGINAL_COUNTRY  \
OBJECTID                ...
3442                 A  ...             UNKNOWN         NOT KNOWN
3271             TUDOR  ...             UNKNOWN         NOT KNOWN
3156              VAS3  ...             UNKNOWN         NOT KNOWN
3098      VALIANT AUTO  ...             UNKNOWN         NOT KNOWN
3060       LANDCRUISER  ...             UNKNOWN         NOT KNOWN
...                ...  ...                 ...               ...
3579                M3  ...   IMPORTED BUILT-UP           GERMANY
3828            PASSAT  ...   IMPORTED BUILT-UP           GERMANY
3594           TRIBECA  ...   IMPORTED BUILT-UP     UNITED STATES
3571               NQR  ...  NZ ASSEMBLED/BUILT             JAPAN
3612            RANGER  ...   IMPORTED BUILT-UP          THAILAND

          POWER_RATING PREVIOUS_COUNTRY             SUBMODEL  \
OBJECTID
3442                 0             NONE                  NaN
3271                 0             NONE                  NaN
3156                 0             NONE                  NaN
3098                 0             NONE                  NaN
3060                 0             NONE                  NaN
...                ...              ...                  ...
3579               309             NONE   CABRIO 7A 3DR 4.0L
3828               220             NONE     R36 6DSG VARIANT
3594               189             NONE                  3.6
3571               140             NONE        NQR500CVL AMT
3612               147             NONE  3.2TD XL DC W/S 4X2

                                   TLA TRANSMISSION_TYPE  \
OBJECTID
3442                 HASTINGS DISTRICT               NaN
3271                          AUCKLAND               NaN
3156                FAR NORTH DISTRICT               NaN
3098                     GORE DISTRICT               NaN
3060      CENTRAL HAWKE'S BAY DISTRICT               NaN
...                                ...               ...
3579                WHANGAREI DISTRICT       7-GEAR AUTO
3828              WAIMAKARIRI DISTRICT       6-GEAR AUTO
3594           SOUTH TARANAKI DISTRICT       5-GEAR AUTO
3571        THAMES-COROMANDEL DISTRICT       6-GEAR AUTO
3612                          AUCKLAND     6-GEAR MANUAL

                     VEHICLE_TYPE      VEHICLE_USAGE VEHICLE_YEAR
OBJECTID
3442            PASSENGER CAR/VAN  PRIVATE PASSENGER         1932
3271            PASSENGER CAR/VAN  PRIVATE PASSENGER         1933
3156                MOTOR CARAVAN  PRIVATE PASSENGER         1977
3098      GOODS VAN/TRUCK/UTILITY        OTHER GOODS         1977
3060            PASSENGER CAR/VAN              OTHER         1977
...                           ...                ...          ...
3579            PASSENGER CAR/VAN  PRIVATE PASSENGER         2009
3828            PASSENGER CAR/VAN  PRIVATE PASSENGER         2009
3594            PASSENGER CAR/VAN  PRIVATE PASSENGER         2009
3571                MOTOR CARAVAN  PRIVATE PASSENGER         2010
3612      GOODS VAN/TRUCK/UTILITY  PRIVATE PASSENGER         2012

[169 rows x 23 columns]

## Step 19. Select the first 7 columns

In [264]:
df[df.columns[0:7]]

,BASIC_COLOUR,BODY_TYPE,CC_RATING,FIRST_NZ_REGISTRATION_YEAR,FIRST_NZ_REGISTRATION_MONTH,GROSS_VEHICLE_MASS,IMPORT_STATUS
OBJECTID,,,,,,,
3526,RED,SPORTS CAR,1600,1947,11,0,NEW
3648,WHITE,SALOON,1192,1962,6,0,NEW
3758,GREEN,SALOON,1285,1966,8,0,RE-REG
3442,BLUE,SALOON,3284,1967,6,0,NEW
3884,WHITE,SALOON,2553,1970,12,0,NEW
...,...,...,...,...,...,...,...
3874,BLACK,SALOON,1796,2012,2,2185,NEW
3445,SILVER,STATION WAGON,1794,2012,4,1425,USED
3349,BLUE,HATCHBACK,2260,2012,7,1555,USED
3008,BLACK,STATION WAGON,1968,2012,4,2185,NEW
3610,SILVER,STATION WAGON,1490,2012,3,1515,USED

## Step 20. Select all columns except the last 3.

In [265]:
# Hints: use negative to exclude the last 3 columns
df[df.columns[0:-3]]

,BASIC_COLOUR,BODY_TYPE,CC_RATING,FIRST_NZ_REGISTRATION_YEAR,FIRST_NZ_REGISTRATION_MONTH,GROSS_VEHICLE_MASS,IMPORT_STATUS,INDUSTRY_CLASS,MAKE,MODEL,MOTIVE_POWER,NUMBER_OF_AXLES,NUMBER_OF_SEATS,NZ_ASSEMBLED,ORIGINAL_COUNTRY,POWER_RATING,PREVIOUS_COUNTRY,SUBMODEL,TLA,TRANSMISSION_TYPE
OBJECTID,,,,,,,,,,,,,,,,,,,,
3526,RED,SPORTS CAR,1600,1947,11,0,NEW,UNKNOWN,ROVER,16,PETROL,0,5,UNKNOWN,NOT KNOWN,0,NONE,NaN,NELSON CITY,NaN
3648,WHITE,SALOON,1192,1962,6,0,NEW,PRIVATE,VOLKSWAGEN,NaN,PETROL,0,5,UNKNOWN,NOT KNOWN,0,NONE,NaN,WAIPA DISTRICT,NaN
3758,GREEN,SALOON,1285,1966,8,0,RE-REG,PRIVATE,VOLKSWAGEN,1300,PETROL,2,4,NZ ASSEMBLED/BUILT,NEW ZEALAND,0,NONE,NaN,AUCKLAND,NaN
3442,BLUE,SALOON,3284,1967,6,0,NEW,PRIVATE,FORD,A,PETROL,0,5,UNKNOWN,NOT KNOWN,0,NONE,NaN,HASTINGS DISTRICT,NaN
3884,WHITE,SALOON,2553,1970,12,0,NEW,PRIVATE,FORD,ZODIAC,PETROL,0,5,UNKNOWN,NOT KNOWN,0,NONE,NaN,HASTINGS DISTRICT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,BLACK,SALOON,1796,2012,2,2185,NEW,PRIVATE,MERCEDES-BENZ,E,PETROL,2,5,IMPORTED BUILT-UP,GERMANY,150,NONE,250 CGI AVANTGARDE,WHANGAREI DISTRICT,7-GEAR AUTO
3445,SILVER,STATION WAGON,1794,2012,4,1425,USED,PRIVATE,TOYOTA,COROLLA,PETROL,0,5,IMPORTED BUILT-UP,JAPAN,0,JAPAN,FIELDER S,AUCKLAND,NaN
3349,BLUE,HATCHBACK,2260,2012,7,1555,USED,PRIVATE,MAZDA,AXELA,PETROL,0,5,IMPORTED BUILT-UP,JAPAN,0,JAPAN,NaN,AUCKLAND,NaN
3008,BLACK,STATION WAGON,1968,2012,4,2185,NEW,PRIVATE,AUDI,Q3,DIESEL,0,5,IMPORTED BUILT-UP,GERMANY,130,NONE,2.0 TDI Q S TRONIC,AUCKLAND,7-GEAR AUTO
3610,SILVER,STATION WAGON,1490,2012,3,1515,USED,PRIVATE,MAZDA,AXELA,PETROL,0,5,IMPORTED BUILT-UP,JAPAN,0,JAPAN,NaN,AUCKLAND,NaN

## Step 21. Present only the BODY_TYPE from Toyota, Honda and Holden

In [266]:
make_bodytype = df[['MAKE','BODY_TYPE']]
make_bodytype.index = make_bodytype.MAKE
print(make_bodytype.loc[['HOLDEN', 'HONDA', 'TOYOTA'], ['BODY_TYPE']])

              BODY_TYPE
MAKE
HOLDEN          UTILITY
HOLDEN    STATION WAGON
HOLDEN          UTILITY
HOLDEN  FLAT-DECK TRUCK
HOLDEN          UTILITY
...                 ...
TOYOTA    STATION WAGON
TOYOTA    STATION WAGON
TOYOTA    STATION WAGON
TOYOTA    STATION WAGON
TOYOTA    STATION WAGON

[294 rows x 1 columns]

## Step 22. Estimate the percentage of Toyota cars versus other cars

In [304]:
print(df.MAKE.value_counts())
array0 = pd.Series(df.MAKE.value_counts())
print('\npercentage of TOYOTA cars versus other cars is', 
      (array0['TOYOTA']/len(df.index))*100,'%')

TOYOTA         158
MAZDA          140
NISSAN         105
FORD            87
HONDA           83
              ...
MOPED            1
SAKAI            1
M.T.E.           1
BRISTOL          1
CATERPILLAR      1
Name: MAKE, Length: 70, dtype: int64

percentage of TOYOTA cars versus other cars is 15.8 %

## Step 23. Estimate the minimum CC_RATING of each car make

In [290]:
min_cc = df.groupby(df.MAKE).CC_RATING.min()
min_cc

MAKE
ALFA ROMEO    2959
ATLAS            0
AUDI          1390
AUSTIN        1275
BEDFORD       2279
              ...
VAUXHALL      1256
VESPA           49
VOLKSWAGEN    1192
VOLVO         1720
YAMAHA         250
Name: CC_RATING, Length: 70, dtype: int64

## Step 24. For each car make present the percentage of hatchback cars

In [ ]:
#Hints: we filter the cars with BODY_TYPE = 'HATCHBACK', then group them by the MAKE and then count them
# hatchback_cars_df = df[df.BODY_TYPE == 'HATCHBACK']

# (hatchback_cars_df.MAKE.value_counts()/len(df.index))*100

df[df['NODY_TYPE']=='HATCHBACK'].grouby('MAKE')['BODY_COUNT'].count()
print(df.groupby('MAKE')['BODY_TYPE'].count()*100)

## Step 26. What is the median CC_RATING for each car make?

In [302]:
df.groupby('MAKE').CC_RATING.median()

MAKE
ALFA ROMEO    2959.0
ATLAS            0.0
AUDI          2967.0
AUSTIN        1275.0
BEDFORD       4223.0
               ...
VAUXHALL      1256.0
VESPA           49.0
VOLKSWAGEN    1932.0
VOLVO         1720.0
YAMAHA         425.0
Name: CC_RATING, Length: 70, dtype: float64

## Step 25. Delete the column `SUBMODEL` and `TLA`

In [300]:
df.drop(["SUBMODEL", "TLA"], axis=1)

,BASIC_COLOUR,BODY_TYPE,CC_RATING,FIRST_NZ_REGISTRATION_YEAR,FIRST_NZ_REGISTRATION_MONTH,GROSS_VEHICLE_MASS,IMPORT_STATUS,INDUSTRY_CLASS,MAKE,MODEL,...,NUMBER_OF_AXLES,NUMBER_OF_SEATS,NZ_ASSEMBLED,ORIGINAL_COUNTRY,POWER_RATING,PREVIOUS_COUNTRY,TRANSMISSION_TYPE,VEHICLE_TYPE,VEHICLE_USAGE,VEHICLE_YEAR
OBJECTID,,,,,,,,,,,,,,,,,,,,,
3526,RED,SPORTS CAR,1600,1947,11,0,NEW,UNKNOWN,ROVER,16,...,0,5,UNKNOWN,NOT KNOWN,0,NONE,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1947
3648,WHITE,SALOON,1192,1962,6,0,NEW,PRIVATE,VOLKSWAGEN,NaN,...,0,5,UNKNOWN,NOT KNOWN,0,NONE,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1962
3758,GREEN,SALOON,1285,1966,8,0,RE-REG,PRIVATE,VOLKSWAGEN,1300,...,2,4,NZ ASSEMBLED/BUILT,NEW ZEALAND,0,NONE,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1966
3442,BLUE,SALOON,3284,1967,6,0,NEW,PRIVATE,FORD,A,...,0,5,UNKNOWN,NOT KNOWN,0,NONE,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1932
3884,WHITE,SALOON,2553,1970,12,0,NEW,PRIVATE,FORD,ZODIAC,...,0,5,UNKNOWN,NOT KNOWN,0,NONE,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,1965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3874,BLACK,SALOON,1796,2012,2,2185,NEW,PRIVATE,MERCEDES-BENZ,E,...,2,5,IMPORTED BUILT-UP,GERMANY,150,NONE,7-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2012
3445,SILVER,STATION WAGON,1794,2012,4,1425,USED,PRIVATE,TOYOTA,COROLLA,...,0,5,IMPORTED BUILT-UP,JAPAN,0,JAPAN,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,2006
3349,BLUE,HATCHBACK,2260,2012,7,1555,USED,PRIVATE,MAZDA,AXELA,...,0,5,IMPORTED BUILT-UP,JAPAN,0,JAPAN,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,2005
3008,BLACK,STATION WAGON,1968,2012,4,2185,NEW,PRIVATE,AUDI,Q3,...,0,5,IMPORTED BUILT-UP,GERMANY,130,NONE,7-GEAR AUTO,PASSENGER CAR/VAN,PRIVATE PASSENGER,2012
3610,SILVER,STATION WAGON,1490,2012,3,1515,USED,PRIVATE,MAZDA,AXELA,...,0,5,IMPORTED BUILT-UP,JAPAN,0,JAPAN,NaN,PASSENGER CAR/VAN,PRIVATE PASSENGER,2006